* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --btnHover: goldenrod;
  --page2btn: rgb(30, 115, 125);
}

/* -------------------page1 ----------------------- */
.container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(1, 1, 27);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url(/images/Background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.input-box {
  margin-bottom: 2.3em;
}
.input-box input {
  border: none;
  outline: none;
  font-size: 1.8em;
  padding: 8px;
  padding-bottom: 4px;
  border-bottom: 2px solid white;
  background: none;
  color: white;
  text-align: center;
}

input[type="text"]::placeholder {
  text-align: center;
}

.btn,
.lifeline-no {
  font-size: 1em;
  padding: 8px;
  background: none;
  border: 1px solid white;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 2.3em;
  position: relative;
  z-index: 1;
}
a {
  color: white;
  text-decoration: none;
}

.btn::after {
  content: "";
  background-color: var(--btnHover);
  height: 100%;
  width: 0%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.2s ease;
}

.btn:hover::after {
  width: 100%;
}

.btn-rules {
  font-size: 1em;
  outline: none;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

.button-71 {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
  }
}

.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
/* -------------------------modal for rules ------------- */
.modal-container,
.modal-container-page2 {
  height: 75vh;
  width: 75vw;
  background-color: lightseagreen;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSweXstGSDGBYr8x8IAYnaAUPHhUzQp3cge1w&usqp=CAU");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  box-shadow: 0 0 20px rgb(88, 83, 83);
  border-radius: 6px;
  padding: 1.3em;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.modal-rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
.kbc-rules {
  flex-basis: 95%;
  overflow-y: scroll;
}

.close-btn {
  margin: 0;
  margin-top: 1.2em;
}

.show-modal {
  opacity: 1;
  pointer-events: auto;
}

/* ----------------------modal for main game page2------------ */
.modal-container-page2 {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(/images/Background.jpg);
  background-position: center;
  padding: 0;
  display: flex;
}

.game-area {
  flex-basis: 86%;
  /* border: 2px solid yellow; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(/images/Background.jpg);
  background-position: center;
  display: flex;
  flex-direction: column;
  /* position:relative; */
}

.game-area-people {
  /* border:1px solid orange; */
  flex-basis: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.people {
  /* border:1px solid orange; */
  display: flex;
  margin-top: 0.3em;
}

.person-image,
.lets-play-image {
  border: 1px solid var(--page2btn);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvts5aHBstDkR8PigS4RmZkbZy78zpZoSuOw&usqp=CAU);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 6px;
}

.person-info p {
  font-size: 1rem;
}
.person-info span {
  font-size: 0.7rem;
  color: var(--page2btn);
  font-weight: bold;
}

.page2btn,
.lifeline-no {
  margin-bottom: 0;
  background-color: var(--page2btn);
  border-radius: 5px;
}

.lifeline-no {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.game-area-result {
  /* border:1px solid pink; */
  position: relative;
  flex-basis: 20%;
  margin: 1em 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  /* border:2px solid red; */
  border-radius: 5px;
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 10px 10px 20px black;
}

.game-area-ques-ans {
  /* border:1px solid wheat; */
  flex-basis: 60%;
  margin: 0em 1.6em;
  display: flex;
  flex-direction: column;
}

.lets-play-container,
.lifeline-set {
  /* border:2px solid red; */
  /* border-radius: 50%; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lets-play-image {
  height: 300px;
  width: 300px;
  border: none;
  cursor: pointer;
  background-image: url(/images/In-jain.png);
}
.timer-container {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
}
.timer {
  /* border:1px solid blueviolet; */
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-family: "Algerian", Arial, Helvetica, sans-serif;
  box-shadow: 5px 5px 30px rgb(140, 141, 196), -5px -5px 30px rgb(140, 141, 196);
}
.question-box {
  flex-basis: 40%;
  margin-top: 30px;
  background: rgb(41, 42, 77);
  box-shadow: 5px 5px 30px rgb(140, 141, 196), -5px -5px 30px rgb(140, 141, 196);
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  margin-bottom: 6px;
  /* background-color:yellowgreen; */
}
.question {
  /* border:1px solid var(--page2btn); */
  /* height:108px; */

  padding: 0.7em;
  /* text-align:center; */
  /* background-color:rgba(137, 43, 226, 0.1); */
}
.answer-box {
  flex-basis: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* padding: 0.6em 0; */
  /* background-color:skyblue; */
}

.answer-opt {
  /* border:1px solid red; */
  /* background-color: red; */
  width: 49%;
  height: 46px;
  margin: 0.3em 0;

  background: rgb(41, 42, 77);
  box-shadow: 5px 5px 30px rgb(140, 141, 196), -5px -5px 30px rgb(140, 141, 196);
  border-radius: 80px;
  border-radius: 20px;
  padding: 0.3em;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  /* justify-content: center; */
}

.answer-opt span {
  margin: 20px;
}
.game-area-btns {
  /* border:1px solid orange; */
  flex-basis: 10%;
  margin: 0em 1.6em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.money-area {
  flex-grow: 1;
  /* border: 2px solid greenyellow; */
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  box-shadow: 0px 3px 3px white;
  /* align-items:center; */
}

.each-prize {
  /* border:1px solid red; */
  flex-basis: 15%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checking-bullets-container,
.lifeline-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bullets,
.lifeline-item {
  /* border:1px solid blue; */
  height: 30px;
  width: 30px;
  box-shadow: 0px 0px 12px grey;
  border-radius: 50%;
  margin: 4px 6px;
}

.lifeline-box {
  flex-direction: column;
  align-items: center;
  /* border:1px solid white; */
  width: 5em;
  margin-top: 1em;
  position: absolute;
  top: -90%;
  right: 4%;
  transition: all 0.5s ease;
  height: 0rem;
  opacity: 0;
  pointer-events: none;
}

.lifeline-item {
  height: 2rem;
  width: 3.4rem;
  box-shadow: 0px 0px 6px 2px aqua;
  background-color: aqua;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 0.4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-lifeline {
  opacity: 1;
  pointer-events: auto;
  height: 11rem;
  top: -30%;
}

.lifeline-item:hover {
  transform: scale3d(1.5, 1.5, 1.5);
}

.audience-poll {
  background-image: url("../images/AudiencePoll.jpeg");
}

.fifty-fifty {
  background-image: url("../images/fifty-fifty.jpeg");
}

.flip-the-question {
  background-image: url("../images/switchQuest.jpeg");
}
.double-dip {
  background-image: url("../images/doubleDip.jpeg");
}

.audience-poll-inner-container,
.just-before-audience-poll {
  border: 1px solid yellow;
  height: 9rem;
  width: 10rem;
  border-radius: 5px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-100%, -20%);
}

.audience-bar-box,
.audience-letter-box,
.audience-percentage-box {
  /* border:1px solid orange; */
  height: 6rem;
  width: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  background: transparent;
}
.bar {
  width: 1.6rem;
  height: 90%;
  border: 1px solid goldenrod;
  /* background-color:transparent; */
  box-shadow: 3px 0px 1px gold;
  border-radius: 5px;
  margin: 0 3px;
}
.audience-letter-box,
.audience-percentage-box {
  height: 1.5rem;
  font-weight: bold;
  align-items: flex-start;
}
.letter,
.percentage {
  width: 1.6rem;
  text-align: center;
  color: white;
}
.percentage {
  font-weight: lighter;
}

.cross-mark {
  height: 0.2rem;
  width: 2.6rem;
  background-color: red;
  border-radius: 20%;
  border: 0.01rem solid white;
  opacity: 0;
}

.cross-one {
  transform: rotate(150deg);
}

.cross-two {
  position: fixed;
  transform: rotate(30deg);
}

.opacity-one {
  opacity: 1;
}

.pointer-events-NO {
  pointer-events: none;
}

.pointer-events-none {
  pointer-events: none;
}

.quit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  /* border:2px solid green; */
  /* position:absolute; */
  /* top:50%; */
  /* left:50%; */
  /* transform:translate(-50%,-50%); */
}
.transfer-image {
  /* border:2px solid red; */
  border-radius: 45px;
  height: 320px;
  /* width:300px; */
  background-color: green;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/EndImage.jpeg");
  background-position: center;
  background-size: cover;
  margin-right: 2rem;
  flex-basis: 30%;
}

.quit-info-container {
  /* border:1px solid red; */
  flex-basis: 40%;
  background-color: blanchedalmond;
  background: transparent;
}

.congratulation {
  font-size: 4rem;
  color: aquamarine;
  margin: 2rem 0;
  font-family: "Gill Sans";
  /* margin-top:1rem; */
}

.prize-money-earned {
  font-size: 0.8rem;
  color: white;
  margin-bottom: 0.3rem;
}

.money {
  font-size: 3rem;
  color: aqua;
}

.last-comment {
  font-size: 1.4rem;
  color: white;
  margin: 2rem 0;
}
/* -------------------media query--------------- */

@media screen and (max-width: 480px) {
  .container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTE8LaKBCQ0Nz7lvXCxLetDVSROwW2kS8MSgp6Om5-rhw&s");
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
  }

  .input-box input {
    width: 80vw;
  }

  /* ------- page 2 ---------------- */

  .game-area {
    flex-basis: 100%;
  }

  .game-area {
    flex-basis: 100%;
    width: 100vw;
  }
  .money-area {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    flex-basis: 0%;
    flex-grow: 0;
  }
  .game-area-result {
    flex-basis: 15%;
  }
  .game-area-ques-ans {
    flex-basis: 65%;
  }
  .timer-container {
    flex-basis: 15%;
  }

  .answer-box {
    flex-direction: column;
    flex-basis: 45%;
  }
  .answer-opt {
    width: 100%;
    margin: 3px 0;
  }
  .audience-poll-inner-container {
    top: 13%;
    left: 70%;
  }

  /* --------------- QUIT PAGE --------- */
  .quit-container {
    margin-top: 150px;
  }
  .transfer-image {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  .quit-info-container {
    width: 90vw;
    text-align: center;
    /* border:1px solid white; */
  }
  .people {
    justify-content: center;
  }
  .congratulation {
    font-size: 3rem;
  }
  .money {
    font-size: 2.8rem;
  }
}
